
<%= form_with url: user_movie_viewing_party_index_path(@user, movie_id: @movie.movie_id), method: :post, class: "form-horizontal" do |f| %>
  <div class="form-group">
    <%= f.label :movie_id, "Movie Title", class: "col-md-2 col-form-label" %>
    <%= @movie.title %> 
    <%= f.hidden_field :movie_id, value: @movie.movie_id %>
  </div>
  
  <div class="form-group">
    <%= f.label :duration, "Duration of Party", class: "col-md-2 col-form-label" %>
    <%= f.number_field :duration, value: @movie.runtime, min: @movie.runtime %>
  </div>

  <div class="form-group">
    <%= f.label :date, "Day", class: "col-md-2 col-form-label" %>
    <%= f.date_field :date, value: Date.today %>
  </div>

  <div class="form-group">
    <%= f.label :start_time, "Start Time", class: "col-md-2 col-form-label" %>
    <%= f.time_field :start_time, value: (Time.now + 1.hour).to_fs(:time), min: Time.now.to_fs(:time) %>
  </div><br>

  <div>
    <%= "Invited Users"%>
    <%= f.collection_check_boxes :user_id, User.where.not(id: @user).order(:name), :id, :email do |box| %>
      <div class="form-check" >
        <%= box.check_box class:"form-check-input"%>
        <%= box.label class: "form-check-label", for: "#{box.object.name} (#{box.object.email})"   %>
      </div>
    <% end %>
  </div><br>

  <%= f.submit "Create Viewing Party" %>
<% end %>